// Colors
$black: #000;
$gray: #999;
$gray2: #DEDEDE;
$light-gray: #FAFAFA;
$white: #fff;
$blue: #3D8EDA;



// Fonts
$font-sans-serif: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$secondary-sans-serif: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
$font-serif:	  'Times New Roman', 'Times', serif;

// Body styles
$body-background-color: $light-gray;
$body-text-weight:		400;
$body-font-size: 		18px;
$body-line-height:		1.5;
$body-font-family:		$font-sans-serif;
$body-text-color:		$black;
$body-min-width:		320px;

//p, ul, ol margins
$paragraph-margins: 0 0 1em;

// Link
$link-color:		   inherit;
$link-text-decoration: underline;

// Headings
$headings-font-weight: 700;
$headings-font-family: $secondary-sans-serif;
$headings-color:	   inherit;

// Default html and body font-size for the base rem value.
$rem-base: 16px;
$vertical-rhythm: ($body-line-height * 1em);
$animation-speed: 0.2s;
