<header id="header">
	<div class="container">
		<div class="columns columns--variable-width">
			<div class="columns__column columns__column--width" style="--_column-width: 185;">
				<strong class="logo"><a href="#"><img src="images/logo-monblan.svg" alt="Monblan"></a></strong>
			</div>
			<div class="columns__column columns__column--flex">
				<div class="account">
					<div class="account__name">
						<h1>monblanproject</h1>
						<span class="date-start">
							Start on  17-02-2016
						</span>
					</div>
					<div class="account__stats">
						<p><b>870</b> posts</p>
						<p><b>11,787</b> followers</p>
						<p><b>112</b> following</p>
					</div>
					<div class="account__date">
						<form>
							<label for="date-from">Date</label>
							<div class="date-wrapper">
								<div class="date-field">
									<input type="text" name="date-from" id="date-from" placeholder="from" autocomplete="off">
									<button class="btn-date date-field__clear" type="button">
										<i class="ico-close"></i>
									</button>
									<button class="btn-date date-field__calendar" type="button">
										<i class="ico-calendar"></i>
									</button>
								</div>
								<div class="date-field">
									<input type="text" name="date-to" id="date-to" placeholder="to" autocomplete="off">
									<button class="btn-date date-field__clear" type="button">
										<i class="ico-close"></i>
									</button>
									<button class="btn-date date-field__calendar" type="button">
										<i class="ico-calendar"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<style>
</style>
